__pycache__/
.github/
.ipynb_checkpoints/
.pytest_cache/
.terraform/
.settings/
.vscode/
airflow/
apiclient/
azure-container-apps/
env/
grafana/
pgadmin/
target/
timescaledb/
.classpath
.gitignore
.project
.terraform.lock.hcl
docker-compose.yml
historical-data-analysis.ipynb
last365d.png
LICENSE
README.md
requirements.txt
settings.xml
terraform.tfstate
tfplan.out