__pycache__/
.github/
.ipynb_checkpoints/
.pytest_cache/
.settings/
.vscode/
airflow/
env/
grafana/
pgadmin/
target/
timescaledb/
.classpath
.gitignore
.project
docker-compose.yml
historical-data-analysis.ipynb
last365d.png
LICENSE
README.md
requirements.txt
settings.xml